<div class="footer" id="footer">
  <div class="social-icons">
    <a href="#"><i class="fa fa-youtube social-icon"></i></a>
    <a href="#"><i class="fa fa-instagram social-icon"></i></a>
    <a href="#"><i class="fa fa-facebook social-icon"></i></a>
    <a href="#"><i class="fa fa-twitter social-icon"></i></a>
  </div>
  <p class="footer-content">This is completed challenge for LeWagon!</p>
</div>
